*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin:0px;
}
body{
    background-color: rgb(218, 218, 218);
}
h1{
    font-size: 40px;
    margin-top: 10px;
}

.container{
    box-shadow: 6px 6px 16px darkgray;
    background-color: whitesmoke;
    padding: 35px;
    margin: 35px;
    float: left;
    width: 600px;
    height: 75vh;
}

#time{
   margin: 10px;
   padding: 10px;
   background-color: azure;
    position:absolute;
    top: 25px;
    right: 80px;
    font-size: 20px;
    margin-left: 30px;
    float: right;
    font-weight: bold;
    box-shadow: 5px 5px 16px darkgray;
}
#sub{
    margin-top: 200px;
}
.bt1{
   
    padding: 12px 22px;
    border-radius: 5px;
    margin: 10px;
    background-color:rgb(238, 207, 130);
    transition: all 0.4s;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: black;
    outline: none;
}
.bt1:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
}
.number{
    font-size: 23px;
    font-weight: bold;
    padding: 2px;
}
#que{
    margin: 3px;
    padding: 4px;
    font-size: 20px;
}
.answer{
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
}


.btncontainer{
    float: right;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 10px;
    margin-right: 30px;
    margin-top:60px;

}
.btn{
   
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 5px;
   background-color: whitesmoke;
   box-shadow: 6px 6px 16px darkgray;
   transition: all 0.2s;
    
}
.btn:hover{
    transform: scale(1.1);
}

.options{
    display: inline;
}
#end{
    position:absolute;
    bottom: 50px;
    right: 50px;
}
